{% block content %} {% include "header.html" %}

<!-- Start -->
<main>
    <section id="kontakt">
        <header>
            <h1 class="display-3">Kontakt</h1>
        </header>
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-group list-group-flush text-left">
                        <li class="list-group-item list-group-item-light">
                            <i class="fa-solid fa-house"></i
                            ><span class="icon-wrap"
                                ><span class="uppercase">Lokalizacja:</span> ul.
                                Zaskawie 9, 34-100 Wadowice</span
                            >
                        </li>
                        <li class="list-group-item list-group-item-light">
                            <i class="fa-solid fa-envelope"></i
                            ><span class="icon-wrap"
                                ><span class="uppercase">Email:</span>
                                zaskawianka@wp.pl</span
                            >
                        </li>
                        <li class="list-group-item list-group-item-light">
                            <i class="fa-solid fa-phone"></i
                            ><span class="icon-wrap"
                                ><a class="main-phone" href="tel:+48511146979"
                                    ><span class="uppercase">Tel:</span>
                                    <b>511 146 979</b></a
                                ></span
                            >
                        </li>
                        <li class="list-group-item list-group-item-light">
                            <i class="fas fa-credit-card"></i
                            ><span class="icon-wrap"
                                ><span class="uppercase">Konto bankowe:</span>
                                Krakowski Bank Spółdzielczy
                                <div class="bank-wrap">
                                    61 8591 0007 0340 0570 8507 0001
                                </div>
                            </span>
                        </li>
                        <li class="list-group-item list-group-item-light">
                            <i class="fa-solid fa-landmark"></i
                            ><span class="icon-wrap">KRS: 0000130690</span>
                        </li>
                    </ul>
                </div>
                <div class="maps-wrap col-lg-6">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2570.8432359994777!2d19.514702915896258!3d49.8829704359714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471688efb11bd06f%3A0xf59c4b9ecb8cddc1!2sKS%20Zaskawianka%20Wadowice!5e0!3m2!1spl!2spl!4v1674760689814!5m2!1spl!2spl"
                        width=""
                        height=""
                        style="border: 0"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"
                    ></iframe>
                </div>
            </div>
        </div>
    </section>
</main>

{% include "footer.html" %} {% endblock %}
