{% block content %} {% include "header.html" %}

<!-- Start -->
<main>
    <section id="regulaminy">
        <header>
            <h1 class="display-3">Regulaminy</h1>
        </header>
        <div class="container py-5">
            <div class="row">
                <div class="accordion w-100" id="accordionRegulamin">
                    <div class="card">
                        <div class="card-header bg-lgreen" id="headingOne">
                            <h2 class="mb-0">
                                <button
                                    class="btn btn-link btn-block text-left"
                                    type="button"
                                    data-toggle="collapse"
                                    data-target="#collapseOne"
                                    aria-expanded="true"
                                    aria-controls="collapseOne"
                                >
                                    Kodeks Piłkarza:
                                </button>
                            </h2>
                        </div>
                        <div
                            id="collapseOne"
                            class="collapse"
                            aria-labelledby="headingOne"
                            data-parent="#accordionRegulamin"
                        >
                            <div class="card-body bg-light">
                                <p>Zawodnik ma obowiązek:</p>
                                <ol>
                                    <li>
                                        Godnie reprezentować Klub Sportowy
                                        Zaskawianka Wadowice podczas meczów,
                                        rozgrywek i innych wydarzeń.
                                    </li>
                                    <li>
                                        Systematycznie i aktywnie uczestniczyć w
                                        zajęciach treningowych, meczach czy
                                        obozach sportowych, do których został
                                        wyznaczony przez trenera lub Zarząd
                                        Klubu.
                                    </li>
                                    <li>
                                        Punktualnie przychodzić na zajęcia
                                        treningowe i mecze (15 minut przed ich
                                        rozpoczęciem).
                                    </li>
                                    <li>
                                        Informować trenera o swojej nieobecności
                                        na treningu czy meczu, w przypadku
                                        meczów mistrzowskich najpóźniej do 24h
                                        przed ich rozpoczęciem.
                                    </li>
                                    <li>
                                        Przestrzegać regulaminów sportowych i
                                        zasad sportowej rywalizacji Fair-Play.
                                    </li>
                                    <li>
                                        Zachowywać się godnie oraz przestrzegać
                                        dyscypliny i posłuszeństwa wobec
                                        trenerów oraz pozostałych osób biorących
                                        czynny udział w procesie szkoleniowym.
                                    </li>
                                    <li>Dbać o powierzony sprzęt sportowy.</li>
                                    <li>
                                        Prowadzić higieniczny i sportowy tryb
                                        życia.
                                    </li>
                                    <li>
                                        Troszczyć się o stan swojego zdrowia
                                        poprzez odbywanie okresowych badań
                                        lekarskich.
                                    </li>
                                    <li>
                                        Tworzyć w zespole dobrą atmosferę i
                                        zdrową sportową rywalizację.
                                    </li>
                                    <li>
                                        Dążyć do ciągłego podnoszenia swoich
                                        umiejętności, aby osiągać jak najlepsze
                                        wyniki sportowe.
                                    </li>
                                    <li>
                                        Dążyć do osiągnięcia jak najlepszych
                                        wyników w nauce.
                                    </li>
                                    <li>
                                        W miarę możliwości uczestniczyć w
                                        treningach/meczach w strojach sportowych
                                        Zaskawianka Wadowice.
                                    </li>
                                </ol>
                                <p>
                                    Za niewłaściwe zachowanie zawodnika lub
                                    nieprzestrzeganie Regulaminu Klubu czy
                                    Kodeksu Piłkarza możliwe jest nałożenie
                                    następujących kar przez Trenera lub Zarząd
                                    Klubu:
                                </p>
                                <ol>
                                    <li>Ustne upomnienie trenera.</li>
                                    <li>Wydalenie z treningu przez trenera.</li>
                                    <li>
                                        Upomnienie na piśmie przez Zarząd Klubu.
                                    </li>
                                    <li>
                                        Zawieszenie udziału w treningach lub/i
                                        meczach mistrzowskich na czas określony.
                                    </li>
                                    <li>
                                        Skreślenie z listy zawodników Klubu.
                                    </li>
                                </ol>
                                <p>
                                    Od nałożonej na zawodnika kary przysługuje
                                    pisemne odwołanie do Zarządu w terminie do 7
                                    dni od nałożenia kary.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header bg-lgreen" id="headingTwo">
                            <h2 class="mb-0">
                                <button
                                    class="btn btn-link btn-block text-left collapsed"
                                    type="button"
                                    data-toggle="collapse"
                                    data-target="#collapseTwo"
                                    aria-expanded="false"
                                    aria-controls="collapseTwo"
                                >
                                    Regulamin Zaskawianka:
                                </button>
                            </h2>
                        </div>
                        <div
                            id="collapseTwo"
                            class="collapse"
                            aria-labelledby="headingTwo"
                            data-parent="#accordionRegulamin"
                        >
                            <div class="card-body bg-light">
                                <p>§1 Klub</p>
                                <ol>
                                    <li>
                                        Klub Sportowy Zaskawianka Wadowice
                                        prowadzi zajęcia piłkarskie, których
                                        celem jest m.in. zagospodarowanie czasu
                                        wolnego dzieci i młodzieży, promowanie
                                        zdrowego trybu życia oraz nauka i
                                        doskonalenie elementów piłki nożnej.
                                    </li>
                                    <li>
                                        Organem zarządzającym i decyzyjnym w
                                        Klubie jest Zarząd powołany przez Walne
                                        Zgromadzenie Członków Klubu, a podstawą
                                        funkcjonowania Klubu jest Statut Klubu
                                        oraz niniejszy Regulamin.
                                    </li>
                                </ol>
                                <p>§2 Udział w zajęciach</p>
                                <ol>
                                    <li>
                                        Realizacja zajęć odbywa się w
                                        poszczególnych grupach treningowych –
                                        skrzaty, żaki, orliki, młodziki,
                                        trampkarze, juniorzy młodsi, juniorzy
                                        starsi oraz seniorzy. Grupy treningowe
                                        tworzone są w oparciu o wiek i
                                        zaawansowanie piłkarskie, a zawodnicy
                                        mogą być decyzją trenera danej grupy
                                        przesunięci do innej grupy, np. z powodu
                                        postępów w rozwoju piłkarskim.
                                    </li>
                                    <li>
                                        Utworzenie poszczególnej liczby grup
                                        treningowych w danym roku/sezonie
                                        uzależnione jest od ilości chętnych w
                                        danym roczniku. Klub zastrzega sobie
                                        także możliwość rezygnacji z prowadzenia
                                        danej grupy treningowej w dowolnym
                                        momencie w przypadku niewystarczającej
                                        liczby zawodników.
                                    </li>
                                    <li>
                                        Zajęcia treningowe odbywają się zgodnie
                                        z ustalonym przez trenera harmonogramem
                                        zajęć. Zajęcia mogą zostać odwołane lub
                                        przeniesione na inny termin, jeżeli na
                                        dzień ustalonego z góry treningu
                                        przypada święto ustawowo wolne od pracy,
                                        przez załamanie pogody (np. burza,
                                        ulewny deszcz, zalane boiska itp.) lub z
                                        przyczyn losowych (np. choroba trenera).
                                        Trener jest zobligowany niezwłocznie
                                        poinformować rodziców o odwołaniu lub
                                        przesunięciu zajęć poprzez wpis w planie
                                        treningowym (messenger) lub wiadomość
                                        telefoniczną (sms).
                                    </li>
                                    <li>
                                        Każdy z uczestników zajęć ma prawo do
                                        udziału w treningach i zajęciach
                                        sportowych odbywających się w atmosferze
                                        koleżeństwa i wzajemnego szacunku oraz
                                        do korzystania z boisk i sprzętu
                                        sportowego należącego do Klubu. Do
                                        udziału w meczach oraz turniejach
                                        każdorazowo uprawnieni są zawodnicy
                                        wytypowani przez trenera. Zastrzega się
                                        możliwość niedopuszczenia zawodnika do
                                        meczu, rozgrywek ligowych lub turniejów
                                        ze względu na zbyt niski poziom
                                        wyszkolenia, niską frekwencję na
                                        treningach, słabe wyniki w nauce lub
                                        niestosowne zachowanie w szkole lub
                                        podczas zajęć treningowych/meczów.
                                    </li>
                                    <li>
                                        Uczestnicy zajęć na ich czas pozostają
                                        pod opieką wykwalifikowanego trenera
                                        (licencja UEFA). Zawodnicy zobowiązani
                                        są do wykonywania poleceń trenera i
                                        członków Zarządu Klubu podczas
                                        treningu/meczu, a także tuż przed i po
                                        nim. Przed wejściem do szatni lub na
                                        boisko oraz tuż po opuszczeniu szatni
                                        lub boiska odpowiedzialność za dzieci
                                        biorą rodzice/opiekunowie prawni.
                                    </li>
                                    <li>
                                        Zawodnicy zobowiązani są do przybycia na
                                        miejsce zbiórki minimum 15 minut przed
                                        rozpoczęciem treningu/meczu, celem
                                        przebrania się i należytego
                                        przygotowania do zajęć.
                                    </li>
                                    <li>
                                        Zawodnicy Klubu są zobowiązani do
                                        okazania szacunku wobec swoich kolegów,
                                        zawodników drużyny przeciwnej oraz
                                        trenerów i kibiców w trakcie treningów,
                                        meczów i poza nimi.
                                    </li>
                                    <li>
                                        Zawodnicy zobowiązani są do
                                        przestrzegania Kodeksu Piłkarza
                                        (załącznik nr 1), który jest integralną
                                        częścią niniejszego Regulaminu.
                                    </li>
                                    <li>
                                        Zawodnicy zobowiązani są do utrzymywania
                                        porządku na terenie klubu (boisko,
                                        szatnie) oraz sprzątania po sobie na
                                        (butelki, trawa z obuwia, stroje itp.).
                                    </li>
                                    <li>
                                        Klub nie bierze odpowiedzialności za
                                        prywatne rzeczy pozostawione na obiekcie
                                        sportowym.
                                    </li>
                                    <li>
                                        Wszyscy zawodnicy Klubu biorący udział w
                                        rozgrywkach i turniejach ligowych
                                        zobowiązani są do regularnego
                                        wykonywania badań lekarskich.
                                        Dostarczenie do trenera podbitej karty
                                        zdrowia należy do obowiązków zawodnika
                                        lub w przypadku osób niepełnoletnich do
                                        rodzica/opiekuna prawnego. Brak
                                        aktualnej karty zdrowia skutkował będzie
                                        brakiem możliwości wzięcia udziału
                                        zawodnika w rozgrywkach.
                                    </li>
                                    <li>
                                        Wszyscy zawodnicy zgłoszeni do rozgrywek
                                        są ubezpieczeni w ramach Podokręgu Piłki
                                        Nożnej Wadowice.
                                    </li>
                                    <li>
                                        Zawodnicy biorący udział w rozgrywkach
                                        ligowych, a w przypadku osób
                                        niepełnoletnich rodzice/opiekunowie
                                        zobowiązani są do podpisania niezbędnych
                                        dokumentów, np. Deklaracji Gry Amatora
                                        przekazanych przez trenera lub Zarząd
                                        Klubu.
                                    </li>
                                    <li>
                                        Wszystkich zawodników Klubu obowiązuje
                                        kategoryczny zakaz reprezentowania barw
                                        innego klubu lub stowarzyszenia w
                                        treningach, meczach, turniejach lub
                                        sparingach bez zgody Zarządu Klubu
                                        Sportowego Zaskawianka Wadowice.
                                        Zawodnik chcący wziąć udział w testach
                                        lub meczu/treningu/turnieju w barwach
                                        innego klubu musi sam lub w przypadku
                                        osób niepełnoletnich poprzez
                                        rodziców/opiekunów złożyć wniosek o
                                        zgodę do Zarządu Klubu. Wyjątek stanowi
                                        sytuacja, kiedy klub, do którego udać ma
                                        się zawodnik złoży wniosek do Zarządu KS
                                        Zaskawianka Wadowice i zostanie wyrażona
                                        zgoda. W przypadku złamania powyższego
                                        zakazu Zarząd KS Zaskawianka Wadowice
                                        może zawiesić zawodnika w treningach i
                                        meczach/turniejach lub w skrajnych
                                        przypadkach zgłosić wniosek do Podokręgu
                                        Piłki Nożnej Wadowice o zawieszenie
                                        zawodnika w strukturach PPN.
                                    </li>
                                    <li>
                                        Zawodnik, który chce zmienić barwy
                                        klubowe jest zobowiązany do złożenia
                                        wniosku do Zarządu Klubu oraz stosowanie
                                        się do przepisów PZPN, w ramach których
                                        może dojść do transferu czasowego lub
                                        definitywnego.
                                    </li>
                                </ol>
                                <p>§3 Rodzice i opiekunowie prawni</p>
                                <ol>
                                    <li>
                                        Wszelkie sprawy organizacyjne,
                                        ogłoszenia i informacje podawane są do
                                        wiadomości rodziców/opiekunów prawnych
                                        za pośrednictwem profilu klubowego
                                        (www.facebook.com/zaskawianka), na
                                        poszczególnych grupach (Messenger) lub
                                        drogą telefoniczną (sms).
                                        Rodzice/opiekunowie prawni zobowiązani
                                        są do regularnego zapoznawania się z
                                        aktualnymi informacjami, które poprzez
                                        opublikowanie na stronie traktuje się
                                        jako przekazane do wiadomości adresatów.
                                    </li>
                                    <li>
                                        Rodzice/opiekunowie prawni zobowiązani
                                        są do pozostawania w kontakcie z
                                        trenerem prowadzącym zajęcia, celem
                                        wymiany poglądów dot. nauki, zachowania
                                        i postępów dziecka. Rodzice/opiekunowie
                                        prawni proszeni są także o informowanie
                                        trenera o istotnych rzeczach związanych
                                        z rozwojem dziecka (kłopoty zdrowotne,
                                        problemy w szkole, problemy wychowawcze
                                        itp.).
                                    </li>
                                    <li>
                                        Obowiązuje zakaz przebywania
                                        rodziców/opiekunów prawnych oraz innych
                                        osób postronnych w bezpośrednim
                                        sąsiedztwie boiska lub na nim w trakcie
                                        meczu i treningu. Celem zapewnienia
                                        dzieciom komfortu i nieskrępowania
                                        podczas zajęć wszystkich zapraszamy na
                                        trybuny, a w przypadku ich braku do
                                        ustawienia się w stosownej odległości od
                                        boiska. Wnioskujemy także o unikanie
                                        zbędnych komentarzy czy podpowiedzi do
                                        dzieci w trakcie meczów i treningów w
                                        myśl zasady „szkolenie pozostawiamy
                                        wykwalifikowanym trenerom”.
                                    </li>
                                    <li>
                                        Rodziców/opiekunów prawnych i inne osoby
                                        postronne obowiązuje nakaz godnego i
                                        kulturalnego zachowania podczas meczów i
                                        treningów z udziałem zawodników Klubu.
                                        Uczymy dzieci i młodzież szacunku do
                                        przeciwnika, sędziego i kibiców, dlatego
                                        wymagamy tego samego od dorosłych. W
                                        przypadku niekulturalnego lub
                                        niestosownego zachowania któregoś z
                                        rodziców/opiekunów prawnych lub
                                        jakiejkolwiek innej osoby postronnej,
                                        trener prowadzący ma prawo zakończyć
                                        zajęcia lub mecz w trybie
                                        natychmiastowym.
                                    </li>
                                    <li>
                                        Rodziców i opiekunów prawnych obowiązuje
                                        zakaz wejścia do szatni drużyny bez
                                        zgody trenera. Uczymy dzieci i młodzież
                                        samodzielności, a ponadto w szatni
                                        często odbywa się część wprowadzająca
                                        treningu lub odprawa przedmeczowa.
                                        Wyjątek stanowią najmłodsze dzieci,
                                        które mogą potrzebować pomocy podczas
                                        przebierania się.
                                    </li>
                                    <li>
                                        Zawodnicy Klubu, a w przypadku osób
                                        niepełnoletnich rodzice/opiekunowie
                                        prawni przyjmują do wiadomości system
                                        kar i upomnień zgodny z Załącznikiem nr
                                        1 do niniejszego Regulaminu, który może
                                        zostać zastosowany w razie niewłaściwego
                                        zachowania zawodników. Kary na zawodnika
                                        nakłada trener lub Zarząd Klubu. Od
                                        nałożonej na zawodnika kary przysługuje
                                        pisemne odwołanie do Zarządu w terminie
                                        do 7 dni od daty nałożenia kary.
                                    </li>
                                    <li>
                                        Zawodnicy Klubu, a w przypadku osób
                                        niepełnoletnich rodzice/opiekunowie
                                        prawni wyrażają zgodę na nieodpłatne
                                        wykorzystanie wizerunku swojego dziecka
                                        na potrzeby promocji Klubu Sportowego
                                        Zaskawianka Wadowice, np. publikację
                                        zdjęć i filmów z zajęć, turniejów,
                                        zawodów oraz obozów sportowych, a także
                                        innych wydarzeń organizowanych przez
                                        Klub lub w których Klub bierze udział.
                                        Cofnięcie tej zgody wymaga pisemnego
                                        wniosku do Zarządu Klubu przez
                                        Zawodnika, a w przypadku osób
                                        niepełnoletnich rodzica/opiekuna
                                        prawnego skierowanego.
                                    </li>
                                    <li>
                                        Zawodnicy Klubu, a w przypadku osób
                                        niepełnoletnich rodzice/opiekunowie
                                        prawni wyrażają zgodę na przechowywanie
                                        i przetwarzanie danych osobowych w
                                        celach związanych z działalnością
                                        statutową Klubu Sportowego Zaskawianka
                                        Wadowice, prowadzeniem i
                                        ewidencjonowaniem zajęć, monitorowaniem
                                        rozwoju zawodników itp.
                                    </li>
                                </ol>
                                <p>§4 Składki członkowskie</p>
                                <ol>
                                    <li>
                                        Dla zawodników drużyn młodzieżowych
                                        Klubu Sportowego Zaskawianka Wadowice
                                        (skrzaty, żaki, orliki, młodziki,
                                        trampkarze, juniorzy młodsi, juniorzy
                                        starsi) udział w zajęciach sportowych
                                        organizowanych Klub równoznaczny jest z
                                        uiszczaniem miesięcznej składki
                                        członkowskiej.
                                    </li>
                                    <li>
                                        O wysokości składki członkowskiej
                                        decyduje Zarząd Klubu Sportowego
                                        Zaskawianka Wadowice stosowną uchwałą,
                                        następnie podając informację zawodnikom
                                        lub w przypadku osób niepełnoletnich
                                        rodzicom/opiekunom prawnym. Ponadto
                                        zapisując drugie i kolejne dziecko do
                                        Klubu przysługuje ustalona przez Zarząd
                                        ulga w opłatach.
                                    </li>
                                    <li>
                                        Każdemu nowemu zawodnikowi przysługuje
                                        bezpłatny udział w 2 treningach próbnych
                                        celem ostatecznego zdecydowania o
                                        ewentualnym zapisie w poczet zawodników
                                        Klubu.
                                    </li>
                                    <li>
                                        W przypadku osób z rodzin o trudnej
                                        sytuacji materialnej Zarząd Klubu
                                        rozpatruje indywidualnie prośby o
                                        zmniejszenie lub całkowite zwolnienie
                                        zawodnika z opłaty członkowskiej po
                                        wcześniejszym wniosku rodziców/opiekunów
                                        prawnych lub ich bliskich.
                                    </li>
                                    <li>
                                        Opłat za zajęcia należy dokonywać do 20
                                        dnia miesiąca, za który jest dokonywana
                                        opłata. Wpłaty najlepiej kierować na
                                        konto Klubu Sportowego Zaskawianka
                                        Wadowice - Krakowski Bank Spółdzielczy
                                        o/Wadowice, nr konta 61 8591 0007 0340
                                        0570 8507 0001
                                    </li>
                                    <li>
                                        Nieobecność zawodnika nie skutkuje
                                        zwrotem ani obniżeniem wysokości składki
                                        członkowskiej. Zapisanie zawodnika na
                                        zajęcia jest rezerwacją dla niego
                                        miejsca w danej grupie, miejsca
                                        treningowego (boiska lub hali) i czasu
                                        osoby prowadzącej zajęcia. Wyjątek
                                        stanowi sytuacja, w której z
                                        wyprzedzeniem rodzic/opiekun prawny
                                        informuje, że dziecka nie będzie przez
                                        minimum jeden miesiąc (np. z powodu
                                        planowanego wyjazdu, zabiegu,
                                        poważniejszej kontuzji itp). Wówczas za
                                        usprawiedliwiony wcześniej pełny okres
                                        miesiąca lub jego wielokrotności
                                        przysługuje zwolnienie ze składki
                                        członkowskiej.
                                    </li>
                                    <li>
                                        W przypadku rezygnacji z udziału w
                                        zajęciach należy uregulować składkę
                                        członkowską za pełny miesiąc, w którym
                                        nastąpiła rezygnacja. Za datę rezygnacji
                                        uznaje się osobiste lub telefoniczne
                                        zawiadomienie trenera lub Zarząd Klubu
                                        przez zawodnika, a w przypadku osoby
                                        niepełnoletniej przez rodzica/opiekuna
                                        prawnego.
                                    </li>
                                    <li>
                                        Nieuregulowanie składki członkowskiej za
                                        zajęcia w terminie skutkować może
                                        zawieszeniem zawodnika lub w przypadku
                                        zaległości wynoszącej ponad miesiąc
                                        skreśleniem z listy zawodników Klubu.
                                        Skreślenie z listy zawodników nie
                                        zwalnia rodziców/opiekunów prawnych z
                                        uregulowania zaległych składek
                                        członkowskich.
                                    </li>
                                    <li>
                                        Oprócz stałych składek członkowskich
                                        rodzice/opiekunowie prawni zobowiązani
                                        są w miarę możliwości do okresowych
                                        zakupów strojów treningowych, dresów
                                        itp., wg modelu i kolorystyki klubowej
                                        zaproponowanej przez Zarząd Klubu w
                                        porozumieniu z trenerem danej grupy.
                                    </li>
                                </ol>
                                <p>§5 Postanowienia końcowe</p>
                                <li>
                                    Każdy z zawodników i rodziców/opiekunów
                                    prawnych ma prawo do złożenia dowolnego
                                    pisemnego wniosku/skargi związanej z
                                    funkcjonowaniem Klubu Sportowego Zaskawianka
                                    Wadowice, a Zarząd Klubu ma obowiązek je
                                    rozpatrzyć i odpowiedzieć w terminie 14 dni.
                                </li>
                                <li>
                                    W sprawach nieuregulowanych w niniejszym
                                    regulaminie decyzję podejmuje Zarząd Klubu.
                                </li>
                                <li>
                                    Regulamin został zatwierdzony przez Zarząd
                                    Klubu i wchodzi w życie z dniem 04.02.2022
                                    r.
                                </li>
                                <li>
                                    Wszelkie zmiany w regulaminie wymagają
                                    zatwierdzenia przez Zarząd Klubu stosowną
                                    uchwałą.
                                </li>
                                <div class="text-right mt-3">
                                    <strong>
                                        <h5>
                                            Zarząd Klubu Sportowego Zaskawianka
                                            Wadowice
                                        </h5>
                                    </strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header bg-lgreen" id="headingThree">
                            <h2 class="mb-0">
                                <button
                                    class="btn btn-link btn-block text-left collapsed"
                                    type="button"
                                    data-toggle="collapse"
                                    data-target="#collapseThree"
                                    aria-expanded="false"
                                    aria-controls="collapseThree"
                                >
                                    Przygotowanie do Treningu i Zasady Treningu:
                                </button>
                            </h2>
                        </div>
                        <div
                            id="collapseThree"
                            class="collapse show"
                            aria-labelledby="headingThree"
                            data-parent="#accordionRegulamin"
                        >
                            <div class="card-body bg-light">
                                <div
                                    class="regulaminy-accordion-wrap text-center"
                                >
                                    <h4>Przygotowanie do treningu:</h4>
                                    <img
                                        class="img-fluid"
                                        src="img/zaskawianka-logo.png"
                                        alt=""
                                    />
                                </div>
                                <p>
                                    <span>Punktualność</span> - Nigdy nie
                                    spóźniaj się na trening
                                </p>
                                <p>
                                    <span>Higiena</span>- Dbaj o swój sprzęt
                                    sportowy, pamiętaj aby zawsze był czysty
                                </p>
                                <p>
                                    <span>Odżywianie</span> - Nie jedz obfitych
                                    posiłków tuż przed treningiem, aby nie być
                                    ociężałym i uniknąć kłopotów żołądkowych
                                </p>
                                <p>
                                    <span>Poszanowanie</span> - Dbaj o sprzęt
                                    sportowy, który jest dobrem wspólnym drużyny
                                    i klubu
                                </p>
                                <p>
                                    <span>Zachowanie</span> - W czasie treningu
                                    zachowuj się tak jak przystało na
                                    prawdziwego piłkarza, słuchaj poleceń
                                    trenera i staraj się je jak najlepiej
                                    wykonywać
                                </p>
                                <p>
                                    <span>Szacunek</span> - Szanuj trenera oraz
                                    swoich kolegów z zespołu, a także zawodników
                                    drużyny przeciwnej
                                </p>
                                <p>
                                    <span>Motywacja</span> - Motywuj się do
                                    zajęć i pokaż, że zależy Ci na tym, aby
                                    zostać dobrym piłkarzem
                                </p>
                                <p>
                                    <span>Szkoła</span> - Pamiętaj, że nauka w
                                    szkole również pomaga w treningu piłkarskim.
                                    Im lepiej będziesz się uczył, tym lepiej
                                    poradzisz sobie w myśleniu na boisku
                                    piłkarskim
                                </p>
                                <div
                                    class="regulaminy-accordion-wrap text-center mt-5"
                                >
                                    <h4>
                                        10 najważniejszych reguł w podejściu do
                                        treningu:
                                    </h4>
                                </div>
                                <ol>
                                    <li>
                                        Pamiętaj, że piłka nożna to gra
                                        zespołowa i polega na współpracy całej
                                        drużyny.
                                    </li>
                                    <li>
                                        Na boisku bądź zawsze w ruchu, startuj
                                        do piłki, nie czekaj aż sama do Ciebie
                                        dotrze. Bądź zawsze przygotowany!
                                    </li>
                                    <li>
                                        Wybieraj właściwą nogę do przyjęcia lub
                                        uderzenia piłki, bez względu na to którą
                                        nogą lepiej sobie radzisz.
                                    </li>
                                    <li>
                                        Wybiegaj na pozycję i pokazuj się
                                        partnerom z drużyny, bo jest to znak, że
                                        chcesz otrzymać piłkę.
                                    </li>
                                    <li>
                                        Jeżeli kolega jest lepiej ustawiony
                                        podaj mu piłkę.
                                    </li>
                                    <li>
                                        Piłka to Twój przyjaciel, nie wybijaj
                                        jej niepotrzebnie, ale staraj się
                                        opanować i kontrolować.
                                    </li>
                                    <li>
                                        Pamiętaj o zasadzie 3xP przyjmij –
                                        popatrz – podaj.
                                    </li>
                                    <li>
                                        Nigdy nie mów że jesteś od kogoś lepszy
                                        i nie przechwalaj się. Jeżeli uważasz,
                                        że jesteś dobry, to pokaż to na boisku.
                                    </li>
                                    <li>
                                        Pamiętaj - trenujesz dla samego siebie,
                                        więc staraj się rozwijać swój talent jak
                                        najlepiej na treningach ale i poza
                                        boiskiem.
                                    </li>
                                    <li>
                                        Trening to czas kiedy musisz skupić się
                                        na poleceniach trenera i jak najlepszym
                                        ich wykonywaniu. Zapomnij w tym czasie o
                                        innych rzeczach.
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% include "footer.html" %} {% endblock %}
