{% block content %} {% include "header.html" %}

<!-- Start -->
<main>
    <section id="zarzad">
        <header>
            <h1 class="display-3">Zarząd</h1>
        </header>
        <div class="container py-5">
            <ul class="list-group list-group-flush mb-3">
                <li class="list-group-item py-5">
                    <b>Prezes</b> - Jakub Pławny
                </li>
                <li class="list-group-item py-5">
                    <b>Wiceprezes</b> - Agnieszka Zychowicz
                </li>
                <li class="list-group-item py-5">
                    <b>Sekretarz</b> - Mateusz Mamcarczyk
                </li>
                <li class="list-group-item py-5">
                    <b>Członkowie zarządu:</b> Stanisław Sordyl,
                    Sławomir Mrugacz, Grzegorz Warmuz, Bogdan Jurkowski, Piotr
                    Mamcarczyk
                </li>
                <li class="list-group-item pt-5">
                    <b>Komisja Rewizyjna:</b>
                    <div class="ml-3">- Przewodniczący: Adam Haśkiewicz</div>
                    <div class="ml-3">
                        - Członkowie: Robert Zemanek, Przemysław Listwan.
                    </div>
                </li>
            </ul>
        </div>
    </section>
</main>

{% include "footer.html" %} {% endblock %}
